@model CartCollection

@if (Model != null)
{
    <a class="nav-link" asp-action="Index" asp-controller="Cart">
        Sepetim
        <span style="color:indianred">@Model.CartItems.Count</span>
    </a>
}
else
{
    <a class="nav-link" asp-action="Index" asp-controller="Cart">
        Sepetim
    </a>
}
