@model IEnumerable<GetProductsResponse>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <partial name="_ProductCard" model=@product />
        </div>
    }
    <div class="text-center"></div>
    <ul class="pagination">
        @for(int i =1; i<=@ViewBag.TotalPages; i++){
            <li class="page-item @(i == ViewBag.Page ? "active": "") "><a class="page-link" asp-action="Index" asp-route-page=@i >@i</a></li>
        }
        

    </ul>
</div>
