@model IEnumerable<GetProductsResponse>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <partial name="_ProductCard" model=@product />
        </div>
    }
</div>

<ul class="pagination">
    @for (int i = 1; i <= @ViewBag.TotalPages; i++)
    {
        <li class="page-item @(i == ViewBag.Page ? "active": "") "><a class="page-link" asp-action="Index" asp-route-page=@i>@i</a></li>
    }
</ul>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.sepet').on('click', function (){
                let id = $(this).data('id');
                $.ajax({
                    url: 'Cart/Add/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log('cartcontroller: ', data);
                    }
                });
            })
        });
    </script>
}
