
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}



<p>Merhaba, Yarın doğum günü partisi düzenliyoruz. Katılmak isteiyorsan aşağıdaki butona basarak formu doldurabilirsin.</p>
<a asp-action="Register">Tıkla</a>

